.Form__formContainer___1GA3x {
  margin: 0;
}

label, textarea {
  display: block;
}

textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  font-family: inherit;
}

.desc-span {
  color: gray;
}
