.Form__formContainer___1GA3x {
  margin: 0;
}

.PhotoPicker__photoPickerButton___2XdVn  {
  background-color: #00b5ad;
  border-radius: 5px;
  font-size: 1.14285714rem;
  text-transform: none;
  font-weight: bold;
}

.PhotoPicker__photoPickerButton___2XdVn:hover {
  background-color: #008c86;
}


label, textarea {
  display: block;
}

textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  font-family: inherit;
}

.desc-span {
  color: gray;
}
