.Form__formContainer___1GA3x {
  margin: 0;
}

.PhotoPicker__photoPickerButton___2XdVn  {
  display: none;
}

.Form__formSection___1PPvW {
  padding: 0;
  margin: 0;
  box-shadow: none;
}

label, textarea {
  display: block;
}

textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  font-family: inherit;
}

.desc-span {
  color: gray;
}
