@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.verification-imagebox {
  display: flex;
}
.verification-image-container {
  flex: 1;
}

.verification-image {
  margin: auto;
  width: 150px !important;
  height: 150px !important;
  transform: rotate(90deg);
  object-fit: cover;
}

.verification-desc {
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
