@import './assets/styles/mixins';
@import './assets/styles/variables';

.App {
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.ui.grid {
  padding-top: 1em;
}

@include medium {
  .ui.grid {
    padding-top: 6em;
  }
}
