@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.rotate90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: 17% -15%;
}
.personcard-collection {
  display: flex;
  flex-wrap: wrap;
}

.image-container {

}

.ui.card:first-child {
  margin-top: 1em;
}
.ui.card:last-child {
  margin-bottom: 1em;
}

.ui.card {
  margin: 1em;
  cursor: pointer;
  width: calc(100% - 2em);
}

//Default is mobile, use this tag for desktop specific stuff
@include medium {
  .ui.card {
    width: calc(25% - 2em);
  }
}

.ui.card > .remove-button {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  top: 1em;
  right: 1em;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.remove-button:hover {
  transform: scale(1.2);
}
