@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.title-container {
  width: 100%;
}

.title {
  text-align: center;
}

@include medium {
  .filter {
    text-align: left;
    margin-left: 20px;
  }
}
